body {
    background-color: #7cc0e5;
}

h1 {
    text-align: center;
}

#conteudo {
    width: 700px;
    margin: auto;
    background-color: aliceblue;
    padding: 3%;
    overflow: auto;
    border-radius: 40px;
}

li {
    font-size: 1.2em;
    padding: 1% 0;
}